.fl-btn {
    position: relative;
    width: 106px;
    height: 75px;

    font-size: 20px;

    background-color: #ffffff;
    border: 3px solid transparent;
    color: #000000;
}

.fl-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #ffffff;
}

.fl-btn:focus,
.fl-btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;

    background-color: rgba(255, 255, 255, 0.6);
}

.fl-btnLabel {
    position: absolute;
    bottom: 5px;
    left: 5px;

    text-align: left;
    white-space: normal;
}