/* Default (dark) theme styles */
.fl-btn {
    position: relative;
    width: 106px;
    height: 75px;

    background-color: #ffffff;
    border: 3px solid transparent;
    color: #000000;
}

.fl-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #ffffff;
}

.fl-btn:focus,
.fl-btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;

    background-color: rgba(255, 255, 255, 0.6);
}

.fl-btn .fl-btnIcon {
    position: absolute;
    top: 5px;
    left: 5px;
}

.fl-btn .fl-btnIcon:before {
    font-size: 18px;
    font-weight: bold;
}

.fl-btn .fl-btnLabel {
    position: absolute;
    bottom: 5px;
    left: 5px;

    text-align: left;
    white-space: normal;
}

/* Styles for alt theme */
.theme-alt .fl-btn {
    background-color: #0b93ff;
    border-color: transparent;
    color: #ffffff;
}

.theme-alt .fl-btn:hover {
    background-color: #0086f1;
    border-color: rgba(255, 255, 255, 0.4);
}

.theme-alt .fl-btn:focus,
.theme-alt .fl-btn:active {
    background-color: #0b93ff;
    border-color: rgba(255, 255, 255, 0.4);
}
