.fl-icon {
    display: inline-block;
    width: 24px;
    height: 24px;

    background-color: #000000;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
}

.fl-icon-logOut {
    /* Using a mask instead of a background-image lets us control
    the color of the icons while leaving the svg intact. */
    -webkit-mask-image: url("../icons/log-out.svg");
    mask-image: url("../icons/log-out.svg");

    /* Invert the icon so that it points outwards of the button
       and conveys better the idea of logging out. */
    transform: scaleX(-1);
}

.fl-icon-help {
    -webkit-mask-image: url("../icons/help-circle.svg");
    mask-image: url("../icons/help-circle.svg");
}

.fl-icon-alertCircle {
    -webkit-mask-image: url("../icons/alert-circle.svg");
    mask-image: url("../icons/alert-circle.svg");
}

.fl-icon-alertTriangle {
    -webkit-mask-image: url("../icons/alert-triangle.svg");
    mask-image: url("../icons/alert-triangle.svg");
}

.theme-alt .fl-icon {
    background-color: #ffffff;
}
