body {
    margin: 8px;
    background-color: #71c5ef;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

.fl-dropdownContainer {
    margin-bottom: 0;
}

.fl-dropdownContainer select {
    border: 3px solid #999999;
    cursor: pointer;
}

.flc-solutionName:not(:empty):after {
    content: ":";
}

.flc-setting {
    display: flex;
}

.flc-setting > * {
    flex: 1;
}

.flc-icon {
    position: relative;
    top: 5px;

    float: left;
    margin-right: 10px;
}

.fl-settingLabel {
    overflow: hidden;
}

.flc-widget {
    padding-left: 10px;
    text-align: center;
}

*[class*="flc-settingListRow"] {
    margin-bottom: 20px;
}

.flc-prefSetPicker {
    float: left;
}

.flc-closeBtn {
    float: right;
    cursor: pointer;
}

.clear-both {
    clear: both;
}

#fl-contentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#flc-settingsList {
    flex: 1;
    overflow: auto;
}

#flc-settingsFooter .btn {
    width: 106px;
    height: 75px;

    border-width: 3px;
}

.flc-restartIcon {
    display: none;
    font-weight: bold;
}

.flc-memoryIcon {
    display: none;
}
