body {
    margin: 8px;
    background-color: #71c5ef;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

.flc-solutionName:not(:empty):after {
    content: ":";
}

.flc-setting {
    display: flex;
}

.flc-setting > * {
    flex: 1;
}

.flc-icon {
    position: relative;
    top: 5px;

    float: left;
    margin-right: 10px;
}

.fl-settingLabel {
    overflow: hidden;
}

.flc-widget {
    padding-left: 10px;
    text-align: center;
}

*[class*="flc-settingListRow"] {
    margin-bottom: 15px;
}

.flc-prefSetPicker {
    float: left;
}

.flc-closeBtn {
    float: right;
    cursor: pointer;
}

.clear-both {
    clear: both;
}

#fl-contentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#flc-settingsList {
    flex: 1;
    overflow: auto;
}

#flc-settingsFooter {
    display: flex;
}

#flc-settingsFooter .fl-button {
    box-sizing: border-box;
    width: 95px;
    height: 80px;
    padding: 5px;
    margin: auto;
    border: 2px solid rgb(35, 160, 165);

    line-height: 70px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.flc-restartIcon {
    display: none;
    font-weight: bold;
}

.flc-memoryIcon {
    display: none;
}
