body {
    margin: 8px;
    background-color: #0078d7;
    color: #ffffff;

    -webkit-user-select: none;
    user-select: none;
}

body.theme-alt {
    background-color: #1f1f1f;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background-color: #005ba6;
    box-shadow: none;
}

.theme-alt ::-webkit-scrollbar-thumb {
    background-color: #797979;
}

hr { 
    display: block;
    margin: 0.5em auto;
    border: 2px solid #005ba6;
}

.theme-alt hr {
    border-color: #797979;
}

.flc-solutionName:not(:empty):after {
    content: ":";
}

.flc-setting {
    display: flex;
}

.flc-setting > * {
    flex: 1;
}

.flc-icon {
    position: relative;
    top: 5px;

    float: left;
    margin-right: 10px;
}

.fl-settingLabel {
    overflow: hidden;
}

.flc-widget {
    padding-left: 10px;
    text-align: center;
    color: #000000;
}

*[class*="flc-settingListRow"] {
    margin-bottom: 1.25em;
}

.flc-prefSetPicker {
    float: left;
}

.flc-closeBtn {
    float: right;
    min-width: 0;
    padding: 0;
    margin: 0;

    font-size: 20px;

    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.6);
}

.flc-closeBtn:hover,
.flc-closeBtn:focus {
    color: #ffffff;
}

.clear-both {
    clear: both;
}

#fl-contentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    font-size: 20px;
}

#flc-settingsList {
    flex: 1;

    /* Needed in order to have some spacing between the scrollbar
       and the content of the text. */
    margin-right: -8px;
    padding-right: 8px;
    overflow-y: overlay;
}

.flc-restartIcon {
    display: none;
    font-weight: bold;
}

.flc-memoryIcon {
    display: none;
}

#flc-settingsFooter .flc-helpBtn {
    float: right;
    margin-right: 0;
}
