/* Default (dark) theme styles */
.fl-multipicker label {
    display: block;
    margin-bottom: 5px;
    text-align: left;

    color: #ffffff;
}

.fl-multipicker .checkbox:first-of-type {
    margin-top: 10px;
}

.fl-multipicker .checkbox {
    margin-bottom: 10px;
}

.fl-multipicker .checkbox label input ~ span::before,
.fl-multipicker .checkbox:hover label input ~ span::before {
    border-color: #ffffff;
}

.fl-multipicker .checkbox label input:checked ~ span::before,
.fl-multipicker .checkbox:hover label input:checked ~ span::before {
    background-color: #ffffff;
    border-color: rgba(0, 120, 215, 0.4);
    color: #0078d7;
}

/* Styles for alt theme */
.theme-alt .fl-multipicker .checkbox label input ~ span::before {
    border-color: rgba(255, 255, 255, 0.8);
}

.theme-alt .fl-multipicker .checkbox label input:checked ~ span::before {
    background-color: #0078d7;
    border-color: #0078d7;
    color: #ffffff;
}

.theme-alt .fl-multipicker .checkbox:hover label input:checked ~ span::before {
    background-color: #0078d7;
    border-color: #ffffff;
    color: #ffffff;
}
