/* Default (dark) theme styles */
.fl-stepper input[type=range] {
    display: inline-block;
    width: auto;
    max-width: 110px;
    margin-bottom: 6px;

    -webkit-appearance: none;
    vertical-align: middle;
    cursor: pointer;
}

.fl-stepper input[type=range]:focus {
    outline: none;
}

.fl-stepper input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #66aee6;
}

.fl-stepper input[type=range]::-webkit-slider-thumb {
    height: 30px;
    width: 10px;
    border-radius: 5px;
    background: #005ba6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13.5px;
}

.fl-stepper input[type=range]:focus::-webkit-slider-thumb {
    background: #ffffff;
}

.fl-stepper .fl-stepperBtn {
    display: inline-block;
    margin: 0 5px;

    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);

    outline: none;
    cursor: pointer;
}

.fl-stepper .fl-stepperBtn:hover {
    color: #ffffff;
}

.fl-stepper .fl-textfield {
    max-width: 50px;
    padding: 2px;

    text-align: center;
}

/* Styles for alt theme */
.theme-alt .fl-stepper input[type=range]::-webkit-slider-runnable-track {
    background-color: #797979;
}

.theme-alt .fl-stepper input[type=range]::-webkit-slider-thumb {
    background-color: #0087f0;
}
