/*
 * General Styles
 */
 .inline {
     display: inline;
 }

 .hide {
     display: none;
 }

/*
 * Flex containers
 */
.fl-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fl-flex-regular-box {
    flex: 0;
}

.fl-flex-expand-box {
    flex: 1;
}

/*
 * This is necessary for the dropdown on page 4 to be fully visible.
 */
div#flc-captureWidgetInitial {
    height: 90%;
}

.fl-capture-current-page {
    font-weight: bold;
    background: rgb(179, 211, 241);
}

.fl-capture-footer {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    /* height: 2.5rem; */
}

.fl-capture-scrolled {
    overflow: auto;
    height: 40%;
    border: thin black solid;
    padding: 10px;
}

.fl-capture-footer .breadcrumb {
    margin: 0 0 0 0;
}

/* .fl-capture-footer li { */
    /* vertical-align: bottom; */
    /* background: orange; */
/* } */

/* This is the button for collapsing solutions on page 3_what_to_keep */
input.btn.btn-default.theme-light.flc-hideshow-solution {
    background-color: rgba(255,255,255,1);
}

