/*
 * General Styles
 */
 .inline {
     display: inline;
 }

 .hide {
     display: none;
 }

 .btn.btn-primary.fl-capture-next {
    border-radius: 5px;
    background-color: #002957;
 }

.btn.btn-default.fl-capture-back {
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #002957;
    border: thin solid #002957;
}

.btn.btn-primary.fl-capture-keyin {
    border-radius: 5px;
    background-color: #002957;
}

input#fl-capture-keyinKey {
    margin-bottom: 2
}

/*
 * Flex containers
 */
.fl-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fl-flex-regular-box {
    flex: 0;
}

.fl-flex-expand-box {
    flex: 1;
}

/*
 * Page 3: What to Keep
 */

.fl-settings-action-link {
    color: #345474;
}

 .fl-capture-scrolled {
    overflow: auto;
    height: 40%;
    border: thin black solid;
    padding: 10px;
}

/* This is the button for collapsing solutions on page 3_what_to_keep */
input.btn.btn-default.theme-light.flc-hideshow-solution {
    background-color: rgba(255,255,255,1);
    margin-top: 0px;
    color: #002957;
    border-radius: 5px;
    border: thin solid #002957;
    padding: 3px;
    min-width: 100px;
}

.form-group.fl-capture-scrolled .checkbox {
    margin-top: 2px;
    margin-bottom: 2px;
}

div.checkbox label input:checked~span::before {
    background-color: #002957;
}

div.checkbox label input:indeterminate~span::before {
    background-color: #002957;
    color: #FFFFFF;
    border-color: #002957;
    content: "\268A";
}

div.checkbox:hover input:indeterminate~span::before {
    color: #FFFFFF;
}

/*
 * Page 4
 */

 div.dropdown .dropdown-menu.fl-prefsset-dropdown {
     background-color: #FFFFFF;
     border: thin black solid;
 }

/*
 * This is necessary for the dropdown on page 4 to be fully visible.
 */
div#flc-captureWidgetInitial {
    height: 90%;
}

.fl-capture-footer {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    /* height: 2.5rem; */
}

.fl-capture-footer .breadcrumb {
    margin: 0 0 0 0;
}

.fl-capture-active-footer {
    margin-bottom: 2px;
    border-bottom: thick solid #008145;
    background-color: #BFDFD0;
}
