body {
    margin: 0;
    overflow: hidden;

    background-color: transparent;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #19294c;
    box-shadow: none;
}

.fl-qssWidget {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: row;

    height: calc(100% - 12px);
    padding: 0;

    border: none;
    border-radius: 0;
    
    background: none;
    color: #19294c;

    font: normal 9px "Segoe UI", "Sans-Serif";

    overflow-x: hidden;
    overflow-y: hidden;
}

.horizontal-reverse .fl-qssWidget {
    flex-direction: row-reverse;
}

.horizontal-reverse .fl-qssWidget .fl-sidecar-holder {
    border: 1px solid #002957;
    border-right: none;
}

.fl-widget-holder {
    display: flex;
    justify-content: center;
    position: relative;
    width: 148px;
    padding: 10px 10px 35px 10px;
    border: 1px solid #002957;
    background: white;
    overflow-y: hidden;
}

.fl-widget-content {
    height: calc(100% - 45px);
}

.fl-sidecar-holder {
    display: flex;
    justify-content: center;
    width: 109px;
    margin-top: 15px;
    padding: 10px 10px 35px 10px;
    border: 1px solid #002957;
    border-left: none;
    background: #eee;
    overflow-y: hidden;
}

.fl-sidecar-holder ul, .fl-sidecar-holder ol {
    padding-left: 15px;
}

.fl-sidecar-holder img.full {
    display: block;
    width: 100%;
}

.fl-qssWidget-sidecar {
    overflow-y: overlay;
}

.fl-sidecar-button {
    width: auto;
    position: absolute;
    bottom: 7px;
    padding: 3px 8px;
    background: none;
    border: 1px solid silver;
    color: #002957;
    cursor: pointer;
    font-size: 9px;
}

.fl-sidecar-button:focus,
.fl-sidecar-button:active {
    color: #000000;
    outline: none;
}

.fl-sidecar-button .fl-btnLabel {
    background: url(../../../assets/arrow-right.svg) no-repeat right;
    padding-right: 16px;
    text-decoration: none;
}

.fl-sidecar-button.btn-icon-close {
    right: 10px;
}

.fl-sidecar-button.btn-icon-close .fl-btnLabel {
    background-image: url(../../../assets/arrow-left.svg);
}

.fl-sidecar-button.btn-icon-link .fl-btnLabel {
    background-image: url(../../../assets/link-external.svg);
}

.fl-hide-sidecar {
    display: none;
}

.fl-qssWidget-tip {
    padding-bottom: 10px;
}

.fl-qssWidget::-webkit-scrollbar {
    width: 6px;
}

.fl-qssWidget::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-clip: padding-box;
}

.fl-qssWidget .fl-titlebar .fl-closeBtn {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 2px;
    border: 1px solid white;
    font-size: 13px;
    line-height: 10px;
    cursor: pointer;
}

.fl-qssWidget .fl-titlebar .fl-closeBtn:focus,
.fl-qssWidget .fl-titlebar .fl-closeBtn:active {
    color: #000000;
    outline: none;
}

.fl-qssWidget .fl-focused {
    outline: none !important;
}

.fl-qssWidget .fl-highlighted {
    border: 1px solid #ff0000 !important;
}

.fl-qssWidget .fl-qssWidget-learnMoreLink.noMargin {
    margin: 0;
}

.fl-qssWidget .fl-qssWidget-learnMoreLink {
    position: absolute;
    width: auto;
    bottom: 20px;

    padding: 3px 8px;
    border: 1px solid white;

    color: #002957;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.fl-qssWidget .fl-qssWidget-learnMoreLink:focus,
.fl-qssWidget .fl-qssWidget-learnMoreLink:active {
    outline: none;
}

.fl-qssWidget .fl-qssWidget-learnMoreLink:after {
    content: "";

    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 5px;
    vertical-align: middle;

    background-image: url("../../../assets/link-external.svg");
    background-size: 13px 13px;
    background-repeat: no-repeat;
}

.fl-qssWidget-arrow {
    position: relative;
    height: 12px;
}

.fl-qssWidget-arrow:before,
.fl-qssWidget-arrow:after {
    content: "";

    position: absolute;
    top: -1px;
    width: 0;
    height: 0;

    border: solid transparent;
    border-bottom: none;

    pointer-events: none;
}

.fl-qssWidget-arrow-left .fl-qssWidget-arrow:before,
.fl-qssWidget-arrow-left .fl-qssWidget-arrow:after {
    left: 64px;
}

.fl-qssWidget-arrow-center .fl-qssWidget-arrow:before,
.fl-qssWidget-arrow-center .fl-qssWidget-arrow:after {
    left: 84px;
}

.fl-qssWidget-arrow-right .fl-qssWidget-arrow:before,
.fl-qssWidget-arrow-right .fl-qssWidget-arrow:after {
    left: 215px;
}

.fl-qssWidget-arrow-tight-right .fl-qssWidget-arrow:before,
.fl-qssWidget-arrow-tight-right .fl-qssWidget-arrow:after {
    left: 260px;
}

/* Arrow position without sidecar */
.fl-qssWidget-arrow-right-closed .fl-qssWidget-arrow:before,
.fl-qssWidget-arrow-right-closed .fl-qssWidget-arrow:after {
    left: 130px;
}

/* Arrow position for my saved settings button */
.fl-qssWidget-arrow-right-mySavedSettings .fl-qssWidget-arrow:before,
.fl-qssWidget-arrow-right-mySavedSettings .fl-qssWidget-arrow:after {
    left: 112px;
}

/* Arrow position for my saved settings button with opened sidecar */
.fl-qssWidget-arrow-right-mySavedSettingsSideCar .fl-qssWidget-arrow:before,
.fl-qssWidget-arrow-right-mySavedSettingsSideCar .fl-qssWidget-arrow:after {
    left: 242px;
}

.fl-qssWidget-arrow:before {
    border-width: 12px;
    border-top-color: #002957;
    margin-left: -12px;
}

.fl-qssWidget-arrow:after {
    top: -2px;
    border-width: 11px;
    border-top-color: #ffffff;
    margin-left: -11px;
}

.fl-qssMouseWidget {
    width: 145px;
}
