.fl-qssMenuWidget {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controlsWrapper {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: overlay;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls.disabled {
    pointer-events: none;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls {
    position: relative;
    overflow: hidden;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item {
    position: relative;
    width: 120px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #0f4797;
    border-radius: 3px;
    line-height: 12px;
    box-sizing: border-box;

    background-color: #ffffff;
    text-align: center;
    color: #0f4797;

    user-select: none;
    cursor: pointer;
}

/* default and checked states are created here */
.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item[aria-checked=true]:after,
.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item.fl-qssWidgetMenu-default:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    content: "";
    cursor: default;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item:after {
    background: none;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item.fl-qssWidgetMenu-default:after {
    left: calc(100% + 12px);
    width: 10px;
    height: 10px;
    background-color: #002957;
    -webkit-mask: url("../../../assets/qssStepper/recommended.svg") 0 0/100% 100%;
    mask: url("../../../assets/qssStepper/recommended.svg") 0 0/100% 100%;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item[aria-checked=true]:after {
    left: calc(100% + 10px);
    width: 15px;
    height: 15px;
    background-color: #008145;
    -webkit-mask: url("../../../assets/check-circle.svg") 0 0/100% 100%;
    mask: url("../../../assets/check-circle.svg") 0 0/100% 100%;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item:focus {
    outline: none;
}

@keyframes menuItemActivation {
    50% {
        background: #ffea00;
        color: #000000;
    }
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item.fl-qssWidgetMenu-active {
    animation: menuItemActivation 0.25s 2;
}

/* Specific version for the Screen Capture's widget: BEGIN */
.fl-qssMenuWidget.fl-qssScreenCaptureWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item {
    width: auto;
    color: white;
    background: #002957;
    border-color: #002957;
}

    /* this creates the space between the screen capture and video capture */
    .fl-qssMenuWidget.fl-qssScreenCaptureWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item:nth-child(4) {
        margin-top: 20px;
    }
.fl-qssMenuWidget.fl-qssScreenCaptureWidget .fl-qssWidget-tip {
    font-size: 8.5px;
    line-height: 110%;
}
.fl-qssMenuWidget.fl-qssScreenCaptureWidget .fl-qssWidget-tip p {
    margin-bottom: 5px;
}
.fl-qssMenuWidget.fl-qssScreenCaptureWidget .fl-qssWidget-tip p:last-of-type {
    margin: 0;
}

/* Specific version for the Screen Capture's widget: END */

/* Specific version for the Office Simplification's widget: BEGIN */
.fl-qssMenuWidget.fl-qssOfficeWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item {
    border-color: white;
    text-align: left;
    margin-left: 15px;
    color: #19294c;
    font-weight: bold;
}
.fl-qssMenuWidget.fl-qssOfficeWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    cursor: pointer;

    left: -15px;
    width: 15px;
    height: 15px;

    background-color: black;
    -webkit-mask: url("../../../assets/checkbox-unchecked.svg") 0 0/100% 100%;
    mask: url("../../../assets/checkbox-unchecked.svg") 0 0/100% 100%;
}
.fl-qssMenuWidget.fl-qssOfficeWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item[aria-checked=true]:after {
    background-color: #008145;
    -webkit-mask: url("../../../assets/checkbox-checked.svg") 0 0/100% 100%;
    mask: url("../../../assets/checkbox-checked.svg") 0 0/100% 100%;
}
.fl-qssMenuWidget.fl-qssOfficeWidget .fl-qssMenuWidget-footerTip {
    margin-top: 5px;
}
/* Specific version for the Office Simplification's widget: END */