/*
 * Classes needed for the Height Observable to work
 */
.fl-qssStepperWidget {
    display: flex;
    flex-direction: column;
}

.fl-qssStepperWidget .fl-qssStepperWidget-controls {
    position: relative;
    overflow-x: hidden;
    overflow-y: overlay;
}

.fl-qssStepperWidget .fl-qssStepperWidget-indicators {
    position: relative;
    overflow: hidden;
}

.fl-qssStepperWidget .fl-qssStepperWidget-indicator {
    position: relative;
}


.fl-qssWidget-footerTip {
    color: #21932b;
}

.fl-qssWidget-tip p {
    margin: 0;
    line-height: 12px;
}

.fl-qssWidget-tip p:first-of-type {
    font-weight: bold;
    margin-bottom: 5px;
}

.fl-qssWidget-tip ul, .fl-qssWidget-tip ol,
.fl-qssWidget-footerTip ul, .fl-qssWidget-footerTip ol
{
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 15px;
}

.fl-qssStepperWidget-controls {
    display: flex;

    /* Exclude dialog padding */
    /*
     *  In order for the indicators to be centered, we use the whole width
     *  of the container by excluding the parent's container padding.
     */
    width: calc(100% + 2 * 10px);
    margin: 0 -10px 7px -10px;
}

.fl-qssStepperWidget-controls .flc-qssStepperWidget-controls-buttons {
    flex-basis: 85%;
    padding-left: 13%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fl-qssStepperWidget-controls .fl-qssStepperWidget-btn {
    padding-top: 0;
    min-height: 28px;
    width: 100%;

    display: flex;
    align-items: center;

    box-sizing: border-box;

    border: 1px solid transparent;
    border-radius: 5px;

    background-color: #002957;
    font-size: 1.25em;

    user-select: none;
    cursor: pointer;
}


.fl-qssStepperWidget-controls .fl-qssStepperWidget-indicators {
    flex-basis: 15%;

    /*
     * In case we don't use this approach, if there are just a few indicators
     * (two or three), the won't be spread to match with the ends of the button controls.
     */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fl-qssStepperWidget-controls .fl-qssStepperWidget-indicators .fl-qssStepperWidget-indicator {
    margin: 4px auto;
    height: 8px;
    width: 8px;
    cursor: pointer;


    /* default icon */
    content: "";
    background-color: #002957;

    -webkit-mask: url("../../../assets/qssStepper/default.svg") 0 0/100% 100%;
    mask: url("../../../assets/qssStepper/default.svg") 0 0/100% 100%;
}

.fl-qssStepperWidget-controls .fl-qssStepperWidget-indicators .fl-qssStepperWidget-indicator:first-child {
    margin-top: 0px;
}

.fl-qssStepperWidget-controls .fl-qssStepperWidget-indicators .fl-qssStepperWidget-indicator:last-child {
    margin-bottom: 0px;
}

.fl-qssStepperWidget-controls .fl-qssStepperWidget-indicators .fl-qssStepperWidget-indicator[data-type="recommended"] {
    -webkit-mask: url("../../../assets/qssStepper/recommended.svg") 0 0/100% 100%;
    mask: url("../../../assets/qssStepper/recommended.svg") 0 0/100% 100%;
}

.fl-qssStepperWidget-controls .fl-qssStepperWidget-indicators .fl-qssStepperWidget-indicator[data-type="selected"] {
    /* It's bigger */
    height: 15px;
    width: 15px;
    margin: 0 auto;

    background-color: #008145;
    -webkit-mask: url("../../../assets/qssStepper/selected.svg") 0 0/100% 100%;
    mask: url("../../../assets/qssStepper/selected.svg") 0 0/100% 100%;
}


.fl-qssStepperWidget-controls .fl-qssStepperWidget-btn + .fl-qssStepperWidget-btn {
    margin-top: 5px;
}

.fl-qssStepperWidget-controls .fl-qssStepperWidget-btn:focus,
.fl-qssStepperWidget-controls .fl-qssStepperWidget-btn:active {
    border: 1px solid transparent;
    outline: none;
}

.fl-qssStepperWidget-controls .fl-qssStepperWidget-btn .fl-btnLabel {
    display: block;
    margin: 0 auto;
}

/* update existing class */
.fl-icon {
    background-color: #ffffff;

    float: left;
}


.fl-qssStepperWidget-controls .fl-icon.fl-increment-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;

    -webkit-mask-image: url(../../../assets/plus-circle.svg);
    mask-image: url(../../../assets/plus-circle.svg);

}

.fl-qssStepperWidget-controls .fl-icon.fl-decrement-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;

    -webkit-mask-image: url(../../../assets/minus-circle.svg);
    mask-image: url(../../../assets/minus-circle.svg);
}


@keyframes stepperActivation {
    0% {
        background-color: #ffea00;
        color: black;
    }
}

@keyframes stepperErrorActivation {
    0% {
        background-color: #CC0000;
        color: black;
    }
}

.fl-qssStepperWidgetBtn-stepperActivation {
    animation: stepperActivation 0.5s;
}

.fl-qssStepperWidgetBtn-stepperErrorActivation {
    animation: stepperErrorActivation 0.5s;
}

.fl-arrowUp, .fl-arrowDown {
    font-size: 1.6em;
}

.fl-qssStepperWidget-footer {
    margin-bottom: 15px;
}

