.fl-qssToggleWidget-extendedTipContainer {
    padding: 3px 3px 5px 3px;
    font-size: 8px;
    background-color: #e4e4e4;
}

.fl-qssToggleWidget-extendedTipContainer p {
    margin: 0;
}

.fl-qssToggleWidget-extendedTipContainer ol {
    margin: 3px 0 0 0;
    padding-left: 15px;
}

.fl-qssToggleWidget-extendedTipContainer li img {
    position: relative;
    top: 3px;
}

.fl-qssToggleWidget-extendedTipContainer .fl-qssToggleWidget-helpImage {
    display: block;
    width: 80%;
    margin: 5px auto;
}

.fl-qssToggleWidget-extendedTipContainer .fl-qssWidget-learnMoreLink {
    margin: 0;
}

.fl-qssToggleWidget-settingTitle {
    margin: 15px 0 10px 0;
    text-align: center;
}

.fl-qssToggleWidget .flc-toggleButton {
    text-align: center;
    --main-theme-text-color: #000000;
    --main-theme-background-color: #ffffff;
}

.fl-qssToggleWidget .fl-switchUI .fl-switchUI-control {
    left: 0;
    outline: none;
    transition: all 0.2s;
}

.fl-qssToggleWidget .fl-switchUI .fl-switchUI-control.fl-highlighted {
    border-width: 2px !important;
}

.fl-qssToggleWidget .fl-switchUI .fl-switchUI-control:focus {
    outline-color: transparent;
}

.fl-qssToggleWidget .fl-switchUI .fl-switchUI-control .fl-switchUI-controlKnob {
    top: 1px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-color: transparent;
    background-color: #000000;

    transition: all 0.2s;
}

.fl-qssToggleWidget .fl-switchUI .fl-switchUI-control[aria-checked=true] {
    background-color: #008145;
    border-color: transparent;
}

.fl-qssToggleWidget .fl-switchUI .fl-switchUI-control[aria-checked=true] .fl-switchUI-controlKnob {
    left: 24px;
    border-color: transparent;
    background-color: #ffffff;
}

.fl-switchUI .fl-switchUILabel {
    top: 4px;
    font-size: 9px;
}

/* baseToggle Widget specific alterations */
.fl-qssBaseToggleWidget {
    margin-bottom: 10px;
}
.fl-qssBaseToggleWidget .fl-qssToggleWidget-settingTitle {
    margin: 0 !important;
    width: 50%;
    float: left;
    text-align: left;
    font-weight: bold;
    line-height: 110%;
    font-size: 8.5px;
}

.fl-qssBaseToggleWidget .fl-switchUI-control {
    width: 34px;
}

.fl-qssBaseToggleWidget .fl-switchUI-control .fl-switchUILabel {
    font-size: 8.5px;
}

.fl-qssBaseToggleWidget .fl-switchUI .fl-switchUI-control[aria-checked=true] .fl-switchUI-controlKnob {
    left: 14px;
}