.fl-qssVolumeWidget {
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 100%;
}

.fl-qssVolumeWidget-wrapper {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fl-qssVolumeWidget-controls {
    position: relative;
    overflow: hidden;
}

/* Steppers: BEGIN */
.fl-qssVolumeWidget .fl-qssStepperWidget-controls .flc-qssStepperWidget-controls-buttons {
    flex-basis: 74%;
    padding-left: 13%;
    padding-right: 13%;
}
/* Steppers: END */

/* Toggle: BEGIN */
.fl-qssVolumeWidget .fl-switchUI {
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
}

.fl-qssVolumeWidget .fl-qssToggleWidget-settingTitle {
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
}

.fl-qssVolumeWidget .fl-qssToggleWidget-extendedTipContainer {
    margin-top: 10px;
}

.fl-qssVolumeWidget .fl-qssToggleWidget-helpImage {
    width: 100%;
}

.fl-qssVolumeWidget .fl-switchUI-control {
    left: 0;
    width: 36px;
    height: 29px;
    border-radius: 3px;
    text-align: center;
}
.fl-qssVolumeWidget .fl-switchUI-control:focus {
    outline: 0 !important;
}

.fl-qssVolumeWidget .fl-switchUI-control[aria-checked=false] {
    background: white;
    border: 1.5px solid #002957;
}

.fl-qssVolumeWidget .fl-switchUI-control[aria-checked=true] {
    background: #800000;
    border: 1.5px solid #800000;
}

.fl-qssVolumeWidget .fl-switchUI-control:after {
    content: "";
    display: inline-block;
    margin-top: 2px;
    width: 23px;
    height: 23px;
}

.fl-qssVolumeWidget .fl-switchUI-control[aria-checked=false]:after {
    background-color: #002957;
    -webkit-mask: url("../../../assets/volume-icon.svg") 0 0/100% 100%;
    mask: url("../../../assets/volume-icon.svg") 50% 50%/80% 80%;
}

.fl-qssVolumeWidget .fl-switchUI-control[aria-checked=true]:after {
    background-color: #fff;
    -webkit-mask: url("../../../assets/volume-mute.svg") 0 0/100% 100%;
    mask: url("../../../assets/volume-mute.svg") 50% 50%/80% 80%;
}

.fl-qssVolumeWidget .fl-switchUI-control[aria-checked=true] .flc-switchUI-off {
    display: none;
}

.fl-qssVolumeWidget .fl-switchUI-control[aria-checked=true] .flc-switchUI-on {
    display: block;
}

.fl-qssVolumeWidget .fl-switchUI-control[aria-checked=false] .flc-switchUI-off {
    display: block;
}

.fl-qssVolumeWidget .fl-switchUI-control[aria-checked=false] .flc-switchUI-on {
    display: none;
}
/* Toggle: END */
