body {
    background-color: transparent;

    /* override properties */
    margin: 0;
    /* uncomment when proper way for content scrolling is found */
    /* overflow: hidden; */
}

.fl-qssWidget {
    font-family: Arial;
}

.fl-qssWidget {
    border: 2px solid #2a4986;
    border-radius: 10px;
    box-sizing: border-box;

    background-color: #ffffff;
    height: 100%;

    padding: 0 8px 8px 8px;

    display: flex;
    flex-direction: column;
}

.fl-qssWidget .fl-focused {
    outline: none !important;
}

.fl-qssWidget .fl-highlighted {
    border: 2px solid #ff0000 !important;
}

/*
 * Stepper Widget
 */

.fl-qssWidget .fl-qssStepperWidget,
.fl-qssWidget .fl-qssMenuWidget {
    margin: 0 5px 0 10px;

    flex: 1;
}

/* TODO more specific classes - stepper */
.fl-qssWidget .fl-qssWidget-tip .fl-tipTitle {
    font-size: 15px;
    font-weight: bold;
}

.fl-qssWidget .fl-qssWidget-tip .fl-tipSubtitle,
.fl-qssWidget .fl-qssWidget-footerTip {
    font-size: 14px;
}

.fl-qssWidget-tip,
.fl-qssWidget-footerTip {
    margin: 1px;
}

.fl-qssStepperWidget-controls {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
}

.fl-qssStepperWidget-controls button,
.fl-qssStepperWidget-controls button:focus {
    width: 60%;

    margin: 5px;
    padding-top: 0;

    background-color: #3a679e;

    font-size: 1.5em;
    border-radius: 5px;
}


@keyframes stepperActivation {
    0% {
        background-color: #ffea00;
        color: black;
    }
}

@keyframes stepperErrorActivation {
    0% {
        background-color: #CC0000;
        color: black;
    }
}

.fl-qssStepperWidgetBtn-stepperActivation {
    animation: stepperActivation 0.5s;
}

.fl-qssStepperWidgetBtn-stepperErrorActivation {
    animation: stepperErrorActivation 0.5s;
}

.fl-arrowUp, .fl-arrowDown {
    font-size: 1.6em;
}

.fl-qssStepperWidget-footer {
    margin-bottom: 15px;
}

/*
 * Menu Widget
 */

.fl-qssMenuWidget  {
    display: flex;
    flex-direction: column;
}

.fl-qssMenuWidget .fl-qssWidget-tip {
    margin-bottom: 30px;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls.disabled {
    pointer-events: none;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls {
    overflow: auto;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item {
    position: relative;
    margin: 0 5px 5px 5px;
    padding: 10px 5px;
    border: 2px solid #0f4797;
    border-radius: 5px;

    background-color: #ffffff;
    text-align: center;
    color: #0f4797;

    cursor: pointer;
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item[aria-checked=true]:before {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);

    font-size: 24px;
    font-weight: bold;
    content: "\2714";
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item:focus {
    outline: none;
}

@keyframes menuItemActivation {
    50% {
        background: #ffea00;
        color: #000000;
    }
}

.fl-qssMenuWidget .fl-qssMenuWidget-controls .fl-qssWidgetMenu-item.active {
    animation: menuItemActivation 0.25s 2;
}
