.fl-dialog-content.fl-qssStepperWidget-content {
    /* lower the default dialog padding */
    padding: 2px;
}

.fl-qssStepperWidget-tip .fl-tipTitle {
    font-weight: bold;
}

.fl-qssStepperWidget-tip,
.fl-qssStepperWidget-footerTip {
    margin: 1px;
}

.fl-qssStepperWidget-controls {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
}

.fl-qssStepperWidget-controls button {
    width: 60%;

    margin: 5px;
    padding-top: 0;

    background-color: #033A50;

    font-size: 1.5em;
    border-radius: 5px;
}

@keyframes activate {
    10% {
        background-color: #FFEA00;
        color: black;
    }
    0%, 100%   {
        background-color: #033A50;
        color: white;
    }
}

.fl-qssStepperWidget-btn.fl-qssWidgetBtn-trigger {
    animation: activate 0.5s;
}

.fl-arrowUp, .fl-arrowDown {
    font-size: 1.6em;
}

fl-qssStepperWidget-footer {
    margin-bottom: 15px;
}


