.fl-dropdown {
    margin-bottom: 0;
}

.fl-dropdown select {
    padding-top: 0;

    background-color: rgba(255, 255, 255, 0.6);
    border-color: #ffffff;
    color: #000000;

    font-size: 20px;

    cursor: pointer;
}

.fl-dropdown .combobox:after {
    color: #ffffff;
}

.fl-dropdown select:hover,
.fl-dropdown select:focus {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #ffffff;
    color: #000000;
}

/* Styles for alt theme */
.theme-alt .fl-dropdown select {
    background-color: #1f1f1f;
    border-color: rgba(255, 255, 255, 0.6);
    color: #ffffff;
}

.theme-alt .fl-dropdown select:hover,
.theme-alt .fl-dropdown select:focus {
    background-color: #383838;
    border-color: rgba(255, 255, 255, 0.8);
}
