.fl-imageDropdown {
    width: 100%;
    max-width: none;
}

.fl-imageDropdown img {
    width: 30px;
    height: 30px;
}

.fl-imageDropdown img:not([src]),
.fl-imageDropdown img[src=""] {
    display: none;
}

.fl-imageDropdown .btn-dropdown {
    position: relative;
    width: 100%;
    height: 36px;
    padding-left: 4px;

    background-color: transparent;
    border-color: var(--main-theme-text-color);
    color: var(--main-theme-text-color);

    text-align: left;
}

.fl-imageDropdown .btn-dropdown:active,
.fl-imageDropdown .btn-dropdown:hover,
.fl-imageDropdown .btn-dropdown:focus {
    background-color: var(--main-theme-background-color);
}

.fl-imageDropdown .btn-dropdown .caret {
    position: absolute;
    top: 10px;
    right: 8px;
    padding: 0;

    pointer-events: none;
}

.fl-imageDropdown .dropdown-menu {
    max-height: calc(100vh - 85px);
    overflow: auto;

    border: 1px solid var(--main-theme-text-color);
}

.fl-imageDropdown .dropdown-menu::-webkit-scrollbar {
    background-color: #f2f2f2;
}

.fl-imageDropdown .dropdown-menu li {
    border-bottom: 1px solid var(--main-theme-text-color);
}

.fl-imageDropdown .dropdown-menu li:last-child {
    border-bottom: none;
}

.fl-imageDropdown .dropdown-menu li a {
    padding-left: 4px;
}

.fl-imageDropdown .dropdown-menu li a:hover {
    background-color: var(--main-theme-background-color);
    color: var(--main-theme-text-color);
}

/* Styles for alt (dark) theme */
.theme-alt .fl-imageDropdown .btn-dropdown {
    border-color: rgba(255, 255, 255, 0.6);
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-imageDropdown .btn-dropdown:active,
.theme-alt .fl-imageDropdown .btn-dropdown:hover,
.theme-alt .fl-imageDropdown .btn-dropdown:focus {
    background-color: var(--main-color);
    border-color: rgba(255, 255, 255, 0.8);
}

.theme-alt .fl-imageDropdown .btn-dropdown .caret {
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-imageDropdown .dropdown-menu {
    background-color: var(--alt-theme-background-color);
    border-color: 1px solid var(--alt-theme-text-color);
}

.theme-alt .fl-imageDropdown .dropdown-menu li {
    border-color: var(--alt-theme-text-color);
}

.theme-alt .fl-imageDropdown .dropdown-menu li a {
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-imageDropdown .dropdown-menu li a:hover {
    background-color: var(--main-color);
}
