body {
    margin: 8px;
    background-color: #0078d7;
    color: #ffffff;

    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background-color: #005ba6;
    box-shadow: none;
}

.btn-regular {
    min-width: 0;
    padding: 0;
    margin: 0;

    background: transparent;
    border: none;
}

.clear-both {
    clear: both;
}

#fl-contentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    font-size: 20px;
}

/* Header styles */

#flc-header hr { 
    display: block;
    margin: 0.5em auto;
    border: 2px solid #005ba6;
}

#flc-header .flc-prefSetPicker {
    float: left;
}

#flc-header .flc-closeBtn {
    float: right;

    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
}

#flc-header .flc-closeBtn:hover,
#flc-header .flc-closeBtn:focus {
    color: #ffffff;
}

/* Content body styles */

#flc-content {
    flex: 1;

    /* Needed in order to have some spacing between the scrollbar
       and the content of the text. */
    margin-right: -8px;
    padding-right: 8px;
    overflow-y: overlay;
}

#flc-settingsList {
    position: relative;
    float: left;
    width: 100%;
}

#flc-settingsList > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;

    visibility: hidden;
    pointer-events: none;
}

#flc-settingsList > *[class^="flc-settingListRow"] {
    margin-bottom: 1.25em;
}

#flc-settingsList > *[class^="flc-settingListRow"]:last-child {
    margin-bottom: 0.75em;
}

#flc-settingsList .flc-setting {
    display: flex;
}

#flc-settingsList .flc-setting > * {
    flex: 1;
}

#flc-settingsList .flc-setting .flc-icon {
    float: left;
    margin: 9px 10px 0 0;
}

#flc-settingsList .flc-setting .fl-settingLabel {
    overflow: hidden;
}

#flc-settingsList .flc-setting .fl-settingLabel .flc-titleLabel {
    display: inline;
    vertical-align: top;

    font-weight: normal;
}

#flc-settingsList .flc-setting .fl-settingLabel .flc-solutionName:not(:empty):after {
    content: ":";
}

#flc-settingsList .flc-setting .flc-widget {
    padding-left: 10px;
    color: #000000;
}

#flc-settingsList .flc-setting .fl-settingLabel .fl-icon {
    display: none;

    float: right;
    margin-top: 6px;
}

#flc-settingsList .flc-setting .fl-settingLabel .fl-icon:not(:first-child) {
    margin-right: 6px;
}

/* Footer styles */

#flc-footer {
    margin-top: 0;
}

#flc-footer .flc-helpBtn {
    float: right;
    margin-right: 0;
}

/* Styles for alt theme */
body.theme-alt {
    background-color: #1f1f1f;
}

.theme-alt ::-webkit-scrollbar-thumb {
    background-color: #797979;
}

.theme-alt #flc-header hr {
    border-color: #797979;
}
