body {
    margin: 8px;
    background-color: var(--main-theme-background-color);
    color: var(--main-theme-text-color);

    -webkit-user-select: none;
    user-select: none;
}

.fl-psp {
    height: 100%;
    display: flex;
    flex-direction: column;

    font-size: 17px;
    line-height: 1.4;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px;
    background-color: #005ba6;
    box-shadow: none;
}

.btn-regular {
    min-width: 0;
    padding: 0;
    margin: 0;

    background: transparent;
    border: none;
}

.clear-both {
    clear: both;
}

/* Styles for alt (dark) theme */
body.theme-alt {
    background-color: var(--alt-theme-background-color);
    color: var(--alt-theme-text-color);
}

.theme-alt ::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
