#flc-restartWarning {
    display: none;
    margin-top: 10px;
}

#flc-restartWarning .fl-icon-appRestart {
    float: left;

    width: 44px;
    height: 44px;
    margin-right: 10px;
}

#flc-restartWarning .fl-restartText {
    font-size: 18px;
    line-height: 1.25;
}

#flc-restartWarning .fl-restartControls {
    clear: both;

    display: flex;
    justify-content: space-between;
}

#flc-restartWarning button {
    width: 140px;
    height: 50px;
}

#flc-restartWarning button span {
    white-space: pre-wrap;
}

#flc-restartWarning button:last-child {
    margin-right: 0;
}
