.fl-restartWarning {
    display: none;

    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 0 4px;
}

.fl-restartWarning .fl-restartIcon {
    float: left;

    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.fl-restartWarning .fl-restartText {
    font-size: 18px;
    line-height: 1.25;
}

.fl-restartWarning .fl-restartControls {
    clear: both;

    display: flex;
    justify-content: space-between;
}

.fl-restartWarning button {
    width: 140px;
    min-height: 50px;
}

.fl-restartWarning button span {
    white-space: pre-wrap;
}

.fl-restartWarning button:last-child {
    margin-right: 0;
}
