/* Default theme styles */
.fl-restartWarning {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #dcf0fa;
    border-left: 5px solid #034ea3;
}

.fl-restartWarning .fl-restartIcon {
    position: relative;

    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: #034ea3;
}

.fl-restartWarning .fl-restartIcon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    content: "!";
}

.fl-restartWarning .fl-restartText {
    padding-left: 54px;
}

.fl-restartWarning .fl-restartControls {
    margin-top: 8px;
}

.fl-restartWarning button {
    width: 140px;
    min-height: 50px;
}

.fl-restartWarning .fl-restartWarningBtn {
    float: right;
    margin-left: 16px;

    font-weight: bold;
    color: #558bc4;
    cursor: pointer;
}

.fl-restartWarning .fl-restartWarningBtn:hover {
    color: #2887db;
}

/* Styles for alt (dark) theme */
.theme-alt .fl-restartWarning {
    background-color: #ffffff;
    color: #000000;
    border-left-color: var(--main-color);
}

.theme-alt .fl-restartWarning .fl-restartIcon {
    background-color: var(--main-color);
}

.theme-alt .fl-restartWarning .fl-restartWarningBtn {
    color: var(--main-color);
}
