/* Default theme styles */
.fl-signIn {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fl-signIn .fl-signIn-content {
    padding: 12px;
    background-color: #ffffff;
    
    /* take up as much space as possible */
    flex: 1;
}

.fl-signIn .fl-signIn-content ul li {
    margin: 0;
}

.fl-signIn .fl-signIn-content .fl-signIn-contentIcon {
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.fl-signIn .fl-signIn-content .fl-signIn-contentText {
    overflow: hidden;
}

.fl-signIn .fl-signIn-content .fl-signIn-contentText .fl-title {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.fl-signIn .fl-signIn-content .fl-signIn-contentText .fl-title + .fl-subtitle {
    margin: -12px 0 10px 0;
    font-size: 0.9em;
}

.fl-signIn .fl-signIn-content .fl-signIn-contentText .fl-details {
    padding-bottom: 10px;
    line-height: 1.33;
    white-space: pre-wrap;
}

.fl-signIn .fl-signIn-contentText .fl-subhead {
    margin: 10px 0 20px 0;
}

.fl-signIn .fl-signIn-contentText .fl-subhead .fl-title,
.fl-signIn .fl-signIn-contentText .fl-subhead .fl-subtitle {
    text-align: center;
}

.fl-signIn .fl-signIn-contentText .fl-sigin-form .fl-error {
    margin-left: 20%;
    width: 80%;

    padding: 2px;

    border: 1px solid #a62121;
    background-color: #f5e6e6;
}

.fl-signIn .fl-signIn-contentText .fl-sigin-form .fl-error .fl-errorTitle {
    font-size: 0.6em;
    font-weight: bold;
}
.fl-signIn .fl-signIn-contentText .fl-sigin-form .fl-error .fl-errorDetails {
    font-size: 0.5em;
}

.fl-signIn .fl-signIn-contentText .fl-links {
    margin-left: 20%;
    display: flex;
    align-items: center;
}

.fl-signIn .fl-signIn-contentText .fl-links a {
    margin: 0 5px 0 5px;
    padding: 0 0 0 0;
    font-size: 0.6em;
    min-width: unset;
}

.fl-signIn .fl-signIn-contentText .fl-sigin-form {
    display: block;
    margin: 0;
}

.fl-signIn .fl-signIn-contentText .fl-sigin-form label {
    float: left;
    width: 20%;
}

.fl-signIn .fl-signIn-contentText .fl-sigin-form input {
    float: left;
    width: 80%;
    max-width: none;

    min-height: 20px;
    height: 20px;
    line-height: 16px;

    margin: 0 0 5px 0;

    /* normal font size is set to 15px */
    font-size: 0.6em;
}

.fl-signIn .fl-signIn-contentText .fl-sigin-form input:focus {
    box-shadow: 0 0 5px #83cbef;
}

.fl-signIn .fl-signIn-contentText .fl-sigin-form .fl-signInBtn {
    margin: 0 0 3px 20%;
    width: 80%;
    min-height: 26px;
    border-width: 1px;
}

/* Styles for alt (dark) theme */
.theme-alt .fl-signIn .fl-signIn-content {
    background-color: var(--alt-theme-background-color);
}

.theme-alt .fl-signIn .fl-signIn-contentText .fl-sigin-form input {
    background-color: var(--alt-theme-text-color);
}

.theme-alt .fl-signIn .fl-signIn-contentText .fl-sigin-form input:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
}

.theme-alt .fl-signIn .fl-signIn-contentText .fl-sigin-form .fl-error {
    background-color: #a62121;
}

/* Temporary styles until the sign in functionality is ready */
.fl-signIn .fl-signIn-contentText .fl-sigin-form {
    display: none !important;
}

.fl-signIn .fl-signIn-contentText .fl-links {
    display: none !important;
}

.fl-signIn .fl-signIn-content .fl-signIn-contentText .fl-subhead .fl-subtitle {
    display: none !important;
}
