/* Default theme styles */
.fl-splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    /*
     * Same as for `body`;
     * Needed to hide the other content
     */
    background-color: var(--main-theme-background-color);
}

.fl-splash .logo {
    width: 65%;
    
    /* vertical align */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.fl-splash .logo img {
    width: 100%;
    margin-top: 20px;
}

.fl-splash .fl-heading {
    font-size: 18px;
    font-style: italic;
}

/* Styles for alt (dark) theme */
.theme-alt .fl-splash {
    background-color: var(--alt-theme-background-color);
}
