 /* Default theme styles */
.fl-switchUI {
    min-width: 80px;
    margin-top: 5px;
}

.fl-switchUI .fl-switchUI-control {
    display: inline-block;

    position: relative;
    left: 32px;
    width: 44px;
    height: 20px;

    vertical-align: middle;

    background-color: transparent;
    border: 2px solid var(--main-theme-text-color);
    border-radius: 10px;

    cursor: pointer;
}

.fl-switchUI .fl-switchUI-control:focus {
    outline-color: var(--main-theme-background-color);
}

.fl-switchUI .fl-switchUILabel {
    position: absolute;
    top: 1px;
    left: 54px;

    color: var(--main-theme-text-color);
    font-size: 15px;
    line-height: 1;
}

.fl-switchUI .fl-switchUILabel.flc-switchUI-off {
    left: -35px;
}

.fl-switchUI .fl-switchUI-controlKnob {
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    width: 10px;
    height: 10px;

    background-color: var(--main-theme-text-color);
    border-radius: 50%;
    transition: left 0.1s;
}

.fl-switchUI .fl-switchUI-control[aria-checked=true] {
    background-color: #ffffff;
    border-color: var(--main-theme-text-color);
}

.fl-switchUI .fl-switchUI-control[aria-checked=true] .fl-switchUI-controlKnob {
    left: 27px;
    background-color: var(--main-theme-text-color);
}

/* Styles for alt (dark) theme */
.theme-alt .fl-switchUI .fl-switchUI-control {
    border-color: var(--alt-theme-text-color);
}

.theme-alt .fl-switchUI .fl-switchUI-control:focus {
    outline-color: var(--main-color);
}

.theme-alt .fl-switchUI .fl-switchUI-control[aria-checked=true] {
    background-color: var(--main-color);
    border-color: transparent;
}

.theme-alt .fl-switchUI .fl-switchUI-control[aria-checked=true] .fl-switchUI-controlKnob {
    background-color: #ffffff;
}

.theme-alt .fl-switchUI .fl-switchUILabel {
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-switchUI .fl-switchUI-controlKnob {
    background-color: var(--alt-theme-text-color);;
}
