/* Default theme styles */
.fl-titlebar {
    background-color: var(--main-theme-background-color);
    color: var(--main-theme-text-color);
}

.fl-titlebar .fl-closeBtn {
    color: var(--main-theme-text-color);
}

/* Styles for alt (dark) theme */
.theme-alt .fl-titlebar {
    background-color: var(--alt-theme-background-color);
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-titlebar .fl-closeBtn {
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-titlebar .fl-closeBtn:hover,
.theme-alt .fl-titlebar .fl-closeBtn:focus {
    color: rgba(255, 255, 255, 0.6);
}
