/* Default theme styles */
.fl-titlebar {
    height: 29px;
    background-color: var(--main-theme-background-color);
    color: var(--main-theme-text-color);
}

.fl-titlebar img {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.fl-titlebar .fl-appName {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;

    cursor: default;
}

.fl-titlebar .fl-closeBtn {
    float: right;

    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-theme-text-color);
}

.fl-titlebar .fl-closeBtn:hover,
.fl-titlebar .fl-closeBtn:focus {
    color: rgba(0, 0, 0, 0.6);
}

/* Styles for alt (dark) theme */
.theme-alt .fl-titlebar {
    background-color: var(--alt-theme-background-color);
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-titlebar .fl-closeBtn {
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-titlebar .fl-closeBtn:hover,
.theme-alt .fl-titlebar .fl-closeBtn:focus {
    color: rgba(255, 255, 255, 0.6);
}
