/*
 * This configuration follows the "Master Dialog Design Template"
 */
body {
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

    /* 
     * Set at the botton right corner as the a bigger
     * than the needed browser windows may be drawn
     */
    position: absolute;
    bottom: 22px;        /* The size of the triangle */
    right: 0;
}

.fl-dialog {
    background-color: #83CBEF;
    padding: 8px 8px 0 8px;
}

.fl-dialog .fl-dialog-content {
    background-color: #ffffff;
    padding: 8px;

    display: flex;
}

.fl-dialog .fl-dialog-footer {
    padding: 5px 10px 5px 10px;
    font-size: .8em;
}

.fl-dialog .fl-dialog-footer .fl-gpiiIcon {
    float: right;
}

.fl-dialog .fl-dialog-footer .fl-gpiiIcon img {
    margin-bottom: -3px; /* vertial align text and image properly */
    height: 16px;
}

.fl-dialog .fl-speach-triangle {
    position: absolute;
    left: 15%;

    width: 0; 
    height: 0; 

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #83CBEF;
}
