/*
 * This configuration follows the "Master Dialog Design Template"
 */
body {
    /*
     * Set at the bottom right corner as bigger than
     * the needed browser windows may be drawn
     */
    position: absolute;
    bottom: 22px;
    right: 0;
    padding: 0;
    margin: 0;

    background-color: transparent;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.fl-dialog {
    padding: 8px 8px 0 8px;
    background-color: #83CBEF;
}

.fl-dialog .fl-dialog-content {
    padding: 12px;

    background-color: #ffffff;
}

.fl-dialog .fl-dialog-content .fl-dialog-controls {
    clear: both;

    flex-direction: row-reverse;
    display: flex;

    justify-content: space-between;
}

.fl-dialog .fl-dialog-content .fl-dialog-controls button {
    min-width: 80px;
    height: 40px;
}

.fl-dialog .fl-dialog-content .fl-dialog-controls button span {
    white-space: pre-wrap;
}

.fl-dialog .fl-dialog-content .fl-dialog-controls button:last-child {
    margin-right: 0;
}

.fl-dialog .fl-dialog-footer {
    padding: 5px 10px 5px 10px;
    font-size: .8em;
}

.fl-dialog .fl-dialog-footer .fl-gpiiIcon {
    float: right;
}

.fl-dialog .fl-dialog-footer .fl-gpiiIcon img {
    height: 16px;
    margin-top: -3px; /* vertial align text and image properly */
}

.fl-dialog .fl-speech-triangle {
    position: absolute;
    left: 15%;
    width: 0; 
    height: 0; 

    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #83CBEF;
}

.clear-both {
    clear: both;
}
