.fl-dropdown {
    margin-bottom: 0;
}

.fl-dropdown select {
    height: 30px;
    min-height: 30px;
    padding: 0 12px;

    background-color: #ffffff;
    border-color: var(--main-theme-text-color);
    color: var(--main-theme-text-color);

    cursor: pointer;
}

.fl-dropdown .combobox:after {
    position: absolute;
    top: 9px;
    right: 9px;

    color: var(--main-theme-text-color);
    pointer-events: none;
}

.fl-dropdown select:hover,
.fl-dropdown select:focus {
    background-color: var(--main-theme-background-color);
    border-color: var(--main-theme-text-color);
    color: var(--main-theme-text-color);
}

/* Styles for alt (dark) theme */
.theme-alt .fl-dropdown select {
    background-color: var(--alt-theme-background-color);
    border-color: rgba(255, 255, 255, 0.6);
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-dropdown .combobox:after {
    color: var(--alt-theme-text-color);
}

.theme-alt .fl-dropdown select:hover,
.theme-alt .fl-dropdown select:focus {
    background-color: #383838;
    border-color: rgba(255, 255, 255, 0.8);
    color: var(--alt-theme-text-color);
}
