/**
 * Styles for an invisible iframe which is as high as its parent element.
 * Even though the iframe is not visible, when its content window changes
 * its dimensions, a "resize" event will be fired.
 */
iframe.fl-heightChangeListener {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-width: 0;

    visibility: hidden;
    pointer-events: none;
}
