.fl-dialog .fl-dialog-content .fl-errorBody {
    margin: 10px 20px 10px 0;
}

.fl-dialog .fl-dialog-content .fl-icon {
    margin-right: 10px;
}

.fl-dialog .fl-dialog-content .fl-icon {
    width:  50px;
    height: 50px;
}

.fl-dialog .fl-dialog-content .fl-errorBody .fl-title {
    color: #034EA2;
    font-size: 1.5em;
}

.fl-dialog .fl-dialog-content .fl-errorBody .fl-subhead {
    margin: 5px 0 0 5px;
}

.fl-dialog .fl-dialog-content .fl-errorBody .fl-details {
    margin: 20px 0 0 5px;
}

.fl-dialog .fl-dialog-content .fl-errorBody .fl-details {
    font-size: 0.9em;
}
