{{> page_header_partial pageHeader="Ready to Capture"}}

<table>
<tr>
    <td style="padding-left: 20px; vertical-align: top">
        <p>
            The Morphic Capture Tool will look at applications
            on your computer and capture their settings. As
            Morphic is working to capture settings, you may
            see applications open and close.
        </p>
        <input type="button" class="btn btn-default flc-capture-next" value="Run Capture" />
    </td>
</tr>
</table>

{{> footer_location_partial activeSignIn="true"}}
