{{> page_header_partial pageHeader="2. What to capture?"}}

<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" id="fl-capture-everything" name="fl-capture-whattocapture" value="everything"
                checked />
            <span>Capture everything</span>
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" id="fl-capture-running" name="fl-capture-whattocapture" value="running" />
            <span>Capture running applications only</span>
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" id="fl-capture-chooseapps" name="fl-capture-whattocapture" value="chooseapps" />
            <span>I want to choose what applications to capture</span>
        </label>
    </div>
</div>

<input type="button" class="btn btn-default flc-capture-next" value="Next" />

{{> footer_location_partial activeWhatToCapture="true"}}
