<div class="container">
        <div class="row row-sm">
            <div class="col-md-12 text-center m-t-md type-t2">
                Capturing <span class="flc-capture-animation-loop-ellipsis">{{captureAnimationLoopEllipsis}}</span>
                <br/>
                <span class="flc-capture-animation-loop-timer">{{captureAnimationLoopTimer}}</span>
            </div>
            <div class="col-md-8 text-center m-t-md">
                <img src="./Morphic_icon_animated_128.gif" />
            </div>
        </div>
</div>

{{> footer_location_partial capturingSettings="true"}}
