{{> page_header_partial pageHeader="4. Update your Preference Set?"}}

<p>
    You have chosen to save this to an existing Preference Set named:
    <br/>
    <strong>{{selectedPrefsSetName}}</strong>
</p>
<p>
    If you save now, this will update your preference set. This will combine
    your captured settings and the settings already in your preference set
    automatically.
</p>
<p>
    If you do not want to update your Preference Set, go Back and save your
    captured preference set with a different name.
</p>
<hr/>

<input type="button" class="btn btn-default flc-capture-back" value="Back" />
<input type="button" class="btn btn-default flc-capture-next" value="Update" />

{{> footer_location_partial activeSave="true"}}
