{{> page_header_partial pageHeader="4. Save"}}

<p>
Give the pref-set a name that will help you remember what is in it, or how you expect to use it.
</p>
<p>
For example is this the set of preferences you would like to have on most computers, or is it what you like to use at the library, or at work, or at night?
</p>
<br/>
<form>
    <div class="form-group">
        <label for="fl-capture-prefsetname">Name for the Captured Pref-Set</label>
        <input type="text" name="fl-capture-prefsetname" class="form-control"
            id="fl-capture-prefsetname" placeholder="Capture Name">
    </div>
<input type="button" class="btn btn-default flc-capture-back" value="Back" />
<input type="button" class="btn btn-default flc-capture-next" value="Next" />
</form>

{{> footer_location_partial activeSave="true"}}
