<h1>5. Success!</h1>
<p>Your settings have been saved as:
<br/>
    <span><strong>{{capturedSettingsName}}</strong></span>
</p>
<p>
    If you want to view them, go to <a href="http://gpii.net">Morphic.world</a>
</p>

<input type="button" class="btn btn-default flc-capture-done" value="Done" />