{{> page_header_partial pageHeader="5. Oops!"}}

<p>
    There was a problem and your settings were not saved. You may wish to try again.
</p>
<p>
    If you keep seeing this problem, <a href="">contact technical support.</a>
</p>

<input type="button" class="btn btn-default fl-capture-back flc-capture-back" value="Back" />
<input type="button" class="btn btn-primary fl-capture-next flc-capture-done" value="Close" />

{{> footer_location_partial doneConfirmation="true"}}
