<div class="fl-capture-footer">

    {{#if activeSignIn}}
<ol class="list-inline" style="margin-bottom: 0px">
    <li style="margin-bottom: 0px; border-bottom: thick black solid">
        <span>1. Sign in &amp; and Start</span>
    <li style="margin-bottom: 0px">
        <span>2. Capture</span>
    </li>
    <li style="margin-bottom: 0px">
        <span>3. What to Save</span>
    </li>
    <li style="margin-bottom: 0px">
        <span>4. Where to Save</span>
    </li>
    <li style="margin-bottom: 0px">
        <span>5. Done</span>
    </li>
</ol>
    {{/if}}

    {{#if capturingSettings}}
<ol class="list-inline" style="margin-bottom: 0px">
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>1. Sign in &amp; and Start</span>
    <li style="margin-bottom: 0px; border-bottom: thick black solid">
        <span>2. Capture</span>
    </li>
    <li style="margin-bottom: 0px">
        <span>3. What to Save</span>
    </li>
    <li style="margin-bottom: 0px">
        <span>4. Where to Save</span>
    </li>
    <li style="margin-bottom: 0px">
        <span>5. Done</span>
    </li>
</ol>
    {{/if}}

    {{#if activeWhatToKeep}}
<ol class="list-inline" style="margin-bottom: 0px">
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>1. Sign in &amp; and Start</span>
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>2. Capture</span>
    </li>
    <li style="margin-bottom: 0px; border-bottom: thick black solid">
        <span>3. What to Save</span>
    </li>
    <li style="margin-bottom: 0px">
        <span>4. Where to Save</span>
    </li>
    <li style="margin-bottom: 0px">
        <span>5. Done</span>
    </li>
</ol>
    {{/if}}

    {{#if activeSave}}
<ol class="list-inline" style="margin-bottom: 0px">
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>1. Sign in &amp; and Start</span>
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>2. Capture</span>
    </li>
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>3. What to Save</span>
    </li>
    <li style="margin-bottom: 0px; border-bottom: thick black solid">
        <span>4. Where to Save</span>
    </li>
    <li style="margin-bottom: 0px">
        <span>5. Done</span>
    </li>
</ol>
    {{/if}}

    {{#if doneConfirmation}}
<ol class="list-inline" style="margin-bottom: 0px">
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>1. Sign in &amp; and Start</span>
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>2. Capture</span>
    </li>
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>3. What to Save</span>
    </li>
    <li style="margin-bottom: 0px">
        <span class="glyph glyph-completed"></span>
        <span>4. Where to Save</span>
    </li>
    <li style="margin-bottom: 0px; border-bottom: thick black solid">
        <span class="glyph glyph-completed"></span>
        <span>5. Done</span>
    </li>
</ol>
    {{/if}}

</div>
