body {
    margin: 0;
    overflow: hidden;

    background-color: #ffffff;
}

.fl-qss {
    display: flex;
    height: 100%;

    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}

.fl-qss-logo {
    width: 90px;
    margin: 0 16px;
    flex-basis: 100%;
}

.fl-qss-logo + .fl-qss-button {
    margin-left: 0;
}

.fl-qss-button {
    position: relative;
    height: 54px;
    width:  54px;
    margin: 5px 0 0 5px;
    padding: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #405E81;
    color: #ffffff;

    font: bold 8px "Open Sans";
    cursor: pointer;
    user-select: none;
}

.fl-qss-button.fl-qss-smallButton {
    height: 24px;
}

.fl-qss-button.fl-qss-smallButton:nth-last-child(2n) {
    margin-top: 6px;
}

.fl-qss-button.fl-qss-closeButton {
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 0;
    padding: 0;

    background: transparent;
    color: #000000;
    font: normal 27px "Open Sans";
}

.fl-qss-button.fl-qss-closeButton:hover {
    background: #ff0000;
}

.fl-qss-button .fl-qss-btnLabel {
    white-space: pre-wrap;
}

.fl-qss-button .fl-qss-btnChangeIndicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;

    background-color: #84C661;


    /*
     * Initially all indicators are hidden and their state is
     * controlled using jQuery
     */
    display: none;
}

.fl-qss-button.fl-qss-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.fl-qss-button.fl-qss-dimmed {
    background-color: #a7a9ad;
}

.fl-qss-button.fl-qss-settingButton {
    background-color: #002957;
}

.fl-qss-button:hover {
    filter: brightness(95%);
}

.fl-qss-button:focus {
    outline: none;
}

.fl-qss-button.fl-highlighted {
    border: 2px solid #ff0000;
}

.fl-qss-button.fl-qss-settingButton.fl-activated {
    background-color: #008145;
}

.fl-qss-button.fl-qss-settingButton.fl-activated:hover {
    filter: none;
}

.fl-qss-button .fl-qss-btnCaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.fl-qss-button .fl-qss-btnImage {
    display: block;
    width: 44px;
    height: 20px;
    margin-top: -5px;

    background-color: #ffffff;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
