body {
    margin: 0;
    overflow: hidden;
}

.fl-qss {
    height: 100%;
    background-color: #ebebeb;
}

.fl-qss-button {
    position: relative;
    height: 84px;
    width:  84px;
    margin: 5px 0 5px 5px;
    padding: 0;

    float: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    box-sizing: border-box;
    border-radius: 8px;
    border: 4px solid transparent;
    background-color: #4f8bc3;
    color: #ffffff;

    font: bold 14px Arial;
    cursor: pointer;
    user-select: none;
}

.fl-qss-button .fl-qss-btnChangeIndicator {
    position: absolute;
    top: 3px;
    right: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    background-color: #ffffff;


    /*
     * Initially all indicators are hidden and their state is
     * controlled using jQuery
     */
    display: none;
}

.fl-qss-button.fl-qss-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.fl-qss-button.fl-qss-settingButton {
    background-color: #3b66b2;
}

.fl-qss-button.fl-qss-settingButton .fl-qss-btnChangeIndicator {
    background-color: #98d5ec;
}

.fl-qss-button:hover {
    filter: brightness(95%);
}

.fl-qss-button:focus {
    outline: none;
}

.fl-qss-button.fl-highlighted {
    border: 4px solid #ff0000;
    outline: none;
}

.fl-qss-button:disabled {
    background-color: #ddd;
}

.fl-qss-button.fl-qss-settingButton.fl-activated {
    border: 4px solid #2a4986;

    background: #ffffff;
    color: #3b66b2;
    font-weight: bold;
}

.fl-qss-button.fl-qss-settingButton.fl-activated:hover {
    filter: none;
}

.fl-qss-button .fl-qss-btnCaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.fl-qss-button .fl-qss-btnImage {
    display: block;
    width: 64px;
    height: 32px;
    margin: 2px auto;

    background-color: #ffffff;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;

    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.fl-qss-button.fl-qss-settingButton.fl-activated .fl-qss-btnImage {
    background-color: #3b66b2;
}
