body {
    background-color: #71c5ef;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 

.flc-setting {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 3vh;
}

*[class*="flc-settingListRow"] {
    margin-bottom: 15px;
}

.flc-prefSetPicker {
    float: left;
}

.flc-closeBtn {
    float: right;
}

.clear-both {
    clear: both;
}

.flc-keyOutBtn {
    position: absolute;
    box-sizing: border-box;
    bottom: 10px;
    left: 10px;

    width: 80px;
    height: 80px;
    padding: 5px;
    border: 2px solid rgb(54, 191, 220);

    line-height: 70px;
    user-select: none;
    cursor: pointer;
}

.flc-restartIcon {
    display: none;
    font-weight: bold;
}

.flc-memoryIcon {
    display: none;
}
