.fl-radioToggleLabel {
    cursor: pointer;
}

.fl-radioToggleLabel + .fl-radioToggleLabel {
    margin-left: 10px;
}

.flc-multipickerItem {
    display: block;
}

.flc-multipickerItem {
	cursor: pointer;
}

.fl-stepperBtn {
    cursor: pointer;
}

.fl-stepperInput {
    max-width: 50px;
}
