body {
    background-color: transparent;
}

.fl-qssTooltip {
    /* DPI related problem with missing border */
    margin-right: 1px;

    flex-direction: column;

    position: absolute;
    bottom: 0;
}

.fl-qssTooltip-content {
    flex: 1;

    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fl-qssTooltip-content div {
    text-align: center;
    margin: 2px 0 2px 0;
}

.fl-qssTooltip-content ul {
    text-align: left;
}

.fl-qssTooltip-content .flc-tooltipHeader {
    font-weight: bold;
}

.fl-footer-arrow {
    width: 100%;
}

.fl-footer-arrow .fl-arrow,
.fl-footer-arrow .fl-arrow-border {
    float: right;
    border: 22px solid transparent;
    border-bottom: 0;
    width: 5%;
}

.fl-footer-arrow .fl-arrow {
    /* overlay with tooltip border */
    margin-top: -1px;
    margin-right: -44px;
    border-top-color: #FFFFFF;
}

.fl-footer-arrow .fl-arrow-border {
    margin-right: 21px;
    border-top-color: #000000;
}
