.gpii-message {
  background-color: #83CBEF;
  border: 8px solid #83CBEF;
  position: absolute;
  bottom: 22px;
  right: 0;
  display: inline-block;
}
/* Draw the arrow pointing to the task bar */
.gpii-message::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15%;
  border: 22px solid transparent;
  border-top-color: #83CBEF;
  border-bottom: 0;
  margin-bottom: -22px;
}
.gpii-icon {
  float: right;
  padding-top: .25em;
  padding-right: .2em;
}
.gpii-spinner {
  background-color: white;
  padding: .5em;
}
.spinner {
  background-image: url("../../../icons/Gear_Cloud_spinning_4s_cw.svg");
  width: 12em;
  height: 12em;
}
