/* TODO show borders of the whole window for dev purposes  */
body {
    border: 2px solid #eee;

    /* override properties */
    margin: 0;
    overflow: hidden;
}


.fl-quicksetstrip {
    display: flex;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}

.fl-quickSetStrip-button {
    height: 80px;
    width:  80px;

    border: 3px solid #83CBEF;
    background-color: white;

    cursor: pointer;
}


.fl-quickSetStrip-button:hover {
    background-color: #eee;
}

.fl-quickSetStrip-button:focus {
    border: 5px solid red;
}

.fl-quickSetStrip-button:disabled {
    background-color: #ddd;
}

.fl-quickSetStrip-button:active {
    background-color: #83CBEF;
    color: white;
}


.fl-quickSetStrip-button-menu .active {
    background: linear-gradient(#83CBEF 30%, white);
}
