.fl-dialog .fl-dialog-content {
    width: 465px;
    min-height: 120px;
}

.fl-dialog .fl-dialog-content ul li {
    margin: 0;
}

.fl-dialog .fl-dialog-content .fl-dialog-controls button {
    width: 140px;
    min-height: 50px;
}
